<!DOCTYPE html>
<html lang="en">
<title>PROJECTE 1 Mapa interactiu</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="/static/upc.png"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/ref_style.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1 {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<body>

<!-- Barra de navegació -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Presentació</a>
    <a href="/mapa" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Mapa CPC</a>
    <a href="/mapa_enlinia" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Mapes en línia</a>
    <a href="/sobre_nosaltres" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Sobre nosaltres</a>
  </div>

</div>


<header class="w3-container w3-white" style="padding:50px 16px">
    <h1 class="w3-margin w3-xxlarge">Informació addicional </h1>
</header>


<div class="w3-row-padding w3-center">
  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:320px">
    <h3>Membres</h3><br>
    <i class="glyphicon glyphicon-user"  style="font-size:100px"></i>
    <h2>Oriol Martínez Fité</h2>
    </div>
  </div>
  
  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:320px">
    <h3>Membres</h3><br>
    <i class="glyphicon glyphicon-user" style="font-size:100px"></i>
    <h2>Soufian El Maadioui</h2>
    </div>
  </div>
  
  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:320px">
    <h3>Projecte 1 (Grup 23)</h3><br>
    <i class="glyphicon glyphicon-file" style="font-size:100px"></i>
    <h2>Disseny i desenvolupament de software en PYTHON</h2>
    </div>
  </div>
</div>

<div class='w3-container w3-padding-32'></div>

<div class='w3-container w3-padding-bottom' style="padding:10px 16px">
  <h1 class="w3-margin w3-xxlarge">Referències</h1>
</div>

<div class="row"> 

  <div class="column">
    <a href="https://github.com/python-visualization/folium/tree/master/examples" target="_blank">
      <img alt="W3Schools" src="/static/folium.png" width="100%">
    </a>
    <a href="https://colorbrewer2.org" target="_blank">
      <img alt="W3Schools" src="/static/colorbrewer.png" width="100%">
    </a>
    <a href="https://python-visualization.github.io/folium/quickstart.html#Getting-Started" target="_blank">
      <img alt="W3Schools" src="/static/quickstart.png" width="100%">
    </a>
  </div>

  <div class="column">
    <a href="https://python-visualization.github.io/folium/modules.html" target="_blank">
      <img alt="W3Schools" src="/static/folium_docs.png" width="100%">
    </a>
    <a href="https://hackersandslackers.com/flask-routes/" target="_blank">
      <img alt="W3Schools" src="/static/routing_flask.png" width="100%">
    </a>
    <a href="https://github.com/inigoflores/ds-codigos-postales/tree/master/data" target="_blank">
      <img alt="W3Schools" src="/static/geojson_files.png" width="100%">
    </a>
  </div>  

  <div class="column">
    <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">
      <img alt="W3Schools" src="/static/w3css.png" width="100%">
    </a>
    <a href="https://python-visualization.github.io/folium/flask.html?highlight=html" target="_blank">
      <img alt="W3Schools" src="/static/folium_flask.png" width="100%">
    </a>
    <a href="https://altair-viz.github.io/" target="_blank">
      <img alt="W3Schools" src="/static/altair.png" width="100%">
    </a>
  </div>

</div>

<div class='w3-container w3-center' style='padding:100px 0px'>
  <a href="https://www.python.org/" target='_blank'>
    <img class='center' alt="W3Schools" src="/static/pyLog.png" width="100" height="100" >
  </a>
  <a href="https://altair-viz.github.io/" target='_blank'>
    <img alt="W3Schools" src="/static/alLog.png" width="100" height="100" class= "center">
  </a>
  <a href="https://flask.palletsprojects.com/en/2.0.x/" target='_blank'>
    <img alt="W3Schools" src="/static/flLog.jpeg" width="100" height="100" class= "center">
  </a>
  <a href="http://python-visualization.github.io/folium/" target='_blank'>
    <img alt="W3Schools" src="/static/foLog.jpg" width="100" height="100" class= "center">
  </a>
  <a href="https://www.w3schools.com" target='_blank'>
    <img alt="W3Schools" src="/static/w3Log.png" width="100" height="100" class= "center">
  </a>    
</div>

<footer class="w3-container w3-center" >  
  <div class="w3-small w3-padding-32" >
    <p class="w3-opacity" style="padding-top:10px">Fet per estudiants de l'<a href="https://etseib.upc.edu/ca" title="anar a la pàgina de l'ETSEIB" target="_blank">ETSEIB</a></p>
    <img src="/static/upc_etseib.jpg" alt="(Icona ETSEIB i UPC)" style="width:64px;height:38px;" >
 </div>
 
</footer>

</body>
</html>